body {
    background-color: aliceblue;
    padding: 20px;
  }
  h1 {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
  }
  p {
    background-color: lightblue;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    padding: 15px;
    color: black;
    font-weight: bold;
  }